<div class="overflow-hidden h-full flex items-center justify-start" [style.width.px]="starWidth" title="rating">
  <div style="width: 106px; white-space: nowrap;" (click)="onClick()">
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
  </div>
</div>
    <div class="">
      <div class="text-[2rem]" (click)="incre()">+</div>
     {{rating}}

    </div>

