<div class="container mx-auto">
  <h1 class="text-[2rem] text-center font-bold mt-[2rem]">Nguyễn Đinh Tiến Điền - PS32003 - Lab 3</h1>
  <ul class="w-max mx-auto my-[1rem] flex gap-6 font-semibold">
    <li>
      <a class="text-[1.5rem] cursor-pointer" routerLink="/bai1" routerLinkActive="active" ariaCurrentWhenActive="page">Bài
        1</a>
    </li>
    <li>
      <a class="text-[1.5rem] cursor-pointer" routerLink="/bai2" routerLinkActive="active" ariaCurrentWhenActive="page">Bài
        2</a>
    </li>
    <li>
      <a class="text-[1.5rem] cursor-pointer" routerLink="/bai3" routerLinkActive="active" ariaCurrentWhenActive="page">Bài
        3</a>
    </li>
    <li>
      <a class="text-[1.5rem] cursor-pointer" routerLink="/bai4" routerLinkActive="active" ariaCurrentWhenActive="page">Bài
        4</a>
    </li>
    <li>
      <a class="text-[1.5rem] cursor-pointer" routerLink="/bai5" routerLinkActive="active" ariaCurrentWhenActive="page">Bài
        5</a>
    </li>
  </ul>
</div>
